<ion-header>
  <ion-toolbar>
    <ion-title>Avaliações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bem-vindo à página de Avaliações!</h2>
  <p>Aqui você pode ver e adicionar avaliações.</p>
</ion-content>

<!-- Menu Inferior -->
<div class="bottom-menu">
  <ion-button class="menu-btn" [routerLink]="'/travels'">
    <ion-icon name="home-outline"></ion-icon> Home
  </ion-button>
  <ion-button class="menu-btn" [routerLink]="'/gerenciar-localizacoes'">
    <ion-icon name="search-outline"></ion-icon> Buscar
  </ion-button>
  <ion-button class="menu-btn" [routerLink]="'/avaliacoes'">
    <ion-icon name="heart-outline"></ion-icon> Favoritos
  </ion-button>
  <ion-button class="menu-btn">
    <ion-icon name="person-outline"></ion-icon> Perfil
  </ion-button>
</div>
