<ion-header>
  <ion-toolbar>
    <ion-title>Reservar Voo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="content">
    <h1 class="title">Vamos reservar o teu voo!</h1>

    <!-- Formulário de reserva -->
    <div class="input-container">
      <ion-label>De...</ion-label>
      <ion-input [(ngModel)]="departure" placeholder="Cidade de Origem" pattern="^[A-Za-z\s]+$" required></ion-input>
    </div>

    <div class="input-container">
      <ion-label>Para...</ion-label>
      <ion-input [(ngModel)]="destination" placeholder="Cidade de Destino" pattern="^[A-Za-z\s]+$" required></ion-input>
    </div>

    <div class="input-container">
      <ion-label>Data da ida</ion-label>
      <ion-input [(ngModel)]="departureDate" type="date" [min]="minDate"></ion-input>
    </div>

    <div class="input-container">
      <ion-label>Data da volta</ion-label>
      <ion-input [(ngModel)]="returnDate" type="date" [min]="departureDate"></ion-input>
    </div>

    <ion-button expand="full" class="action-btn" (click)="searchFlights()">Pesquisar...</ion-button>
    <ion-button expand="full" class="reserve-btn" (click)="reserveFlight()">Reservar Voo</ion-button>

    <!-- Exibir detalhes do voo pesquisado -->
    <div class="sections" *ngIf="flightDetails">
      <h2 class="section-title">Próximo voo</h2>
      <div class="flight-info">
        <div class="flight-details">
          <p><strong>Origem:</strong> {{ flightDetails.departure }}</p>
          <p><strong>Destino:</strong> {{ flightDetails.destination }}</p>
          <p><strong>Data da Ida:</strong> {{ flightDetails.departureDate }}</p>
          <p><strong>Data da Volta:</strong> {{ flightDetails.returnDate }}</p>
          <p><strong>Horário:</strong> {{ flightDetails.departureTime }} - {{ flightDetails.arrivalTime }}</p>
        </div>
      </div>
    </div>

    <!-- Menu Inferior -->
    <div class="bottom-menu">
      <ion-button class="menu-btn" [routerLink]="'/travels'">
        <ion-icon name="home-outline"></ion-icon> Home
      </ion-button>
      <ion-button class="menu-btn">
        <ion-icon name="search-outline"></ion-icon> Buscar
      </ion-button>
      <ion-button class="menu-btn" [routerLink]="'/avaliacoes'">
        <ion-icon name="heart-outline"></ion-icon> Favoritos
      </ion-button>
      <ion-button class="menu-btn">
        <ion-icon name="person-outline"></ion-icon> Perfil
      </ion-button>
    </div>
  </div>
</ion-content>
