<ion-content class="container">
  <div class="background-overlay"></div>

  <!-- Conteúdo da página -->
  <div class="content">
    <!-- Título -->
    <h1 class="title">Nubia Airlines</h1>

    <!-- Barra de Pesquisa -->
    <div class="input-container">
      <input type="text" placeholder="Pesquise seu destino aqui..." />
    </div>

    <!-- Botões de ações -->
    <div class="button-container">
      <ion-button [routerLink]="['/gerenciar-localizacoes']" class="action-btn">
        Reservar
      </ion-button>
      <ion-button [routerLink]="'/check-in'" class="action-btn">
        Check-in
      </ion-button>
      <ion-button [routerLink]="'/avaliacoes'" class="action-btn">
        Avaliações
      </ion-button>
    </div>

    <!-- Seção Destinos Populares -->
    <div class="popular-destinations">
      <h2 class="section-title">Destinos Populares</h2>
      <div class="destinations-grid">
        <!-- Card 1: Torre Eiffel, Paris -->
        <div class="destination-card">
          <img src="assets/imagens/P.jpg" alt="Torre Eiffel, Paris" class="destination-image" />
          <p class="destination-name">Torre Eiffel, Paris</p>
        </div>

        <!-- Card 2: Coliseu, Roma -->
        <div class="destination-card">
          <img src="assets/imagens/RM.jpg" alt="Coliseu, Roma" class="destination-image" />
          <p class="destination-name">Coliseu, Roma</p>
        </div>
      </div>
    </div>

    <!-- Seção Recomendações -->
    <div class="popular-destinations">
      <h2 class="section-title">Recomendações</h2>
      <div class="destinations-grid">
        <!-- Card 1: Big Ben, Londres -->
        <div class="destination-card">
          <img src="assets/imagens/BB.jpg" alt="Big Ben, Londres" class="destination-image" />
          <p class="destination-name">Big Ben, Londres</p>
        </div>

        <!-- Card 2: Sagrada Família, Barcelona -->
        <div class="destination-card">
          <img src="assets/imagens/S.jpg" alt="Sagrada Família, Barcelona" class="destination-image" />
          <p class="destination-name">Sagrada Família, Barcelona</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Menu Inferior -->
  <div class="bottom-menu">
    <ion-button class="menu-btn" [routerLink]="'/travels'">
      <ion-icon name="home-outline"></ion-icon> Home
    </ion-button>
    <ion-button class="menu-btn">
      <ion-icon name="search-outline"></ion-icon> Buscar
    </ion-button>
    <ion-button class="menu-btn" [routerLink]="'/avaliacoes'">
      <ion-icon name="heart-outline"></ion-icon> Favoritos
    </ion-button>
    <ion-button class="menu-btn" [routerLink]="'/profile'">
      <ion-icon name="person-outline"></ion-icon> Perfil
    </ion-button>
  </div>
  
</ion-content>