<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-button expand="full" routerLink="/login">Ir para Login</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" routerLink="/register">Ir para Registro</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" routerLink="/travels">Ver Viagens</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" routerLink="/comments">Ver Comentários</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" routerLink="/gerenciar-localizacoes">Gerenciar Localizações</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" [routerLink]="'/check-in'">
        <ion-icon name="checkmark-circle-outline"></ion-icon> Check-in
      </ion-button>    
    </ion-item>
    <ion-button class="full" [routerLink]="'/avaliacoes'">
      <ion-icon name="star-outline"></ion-icon> Avaliações
    </ion-button>
  </ion-list>
</ion-content>
