<ion-content class="container">
  <div class="content">
    <!-- Ícone de Avião -->
    <ion-icon name="airplane-outline" class="plane-icon"></ion-icon>

    <!-- Título -->
    <h1 class="title">NUBIA <br> AIRLINES</h1>

    <!-- Subtítulo -->
    <p class="subtitle">O Mundo é Teu</p>

    <!-- Botões de Login e Cadastro -->
    <div class="button-container">
      <!-- Botão de Login com routerLink -->
      <ion-button expand="full" class="login-btn" routerLink="/login">Login</ion-button>

      <!-- Botão de Cadastro -->
      <ion-button expand="full" class="signup-btn" routerLink="/register">Sign Up</ion-button>
    </div>
  </div>
</ion-content>
